.graph {
    height: 530px;
    background-color: white;
    padding: 1rem;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5);
  }
  .doughnut_graph {
    max-height: 454px;
    max-width: 454px;
  }
  
  .map .leaflet-container {
    height: 100%;
    border-radius: 12px;
  }
  